
    *{
      box-sizing: border-box;
    }

    body {
      display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #0E0E13;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
    }

    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
